@import "tailwindcss";

:root {
  --custom-white: #efeff2;
  --custom-dark: #202c4b;
}

body.light {
  background-color: var(--custom-white);
  color: var(--custom-dark);
  transition: 0.3s ease;
}

body.dark {
  background-color: var(--custom-dark);
  color: var(--custom-white);
  transition: 0.3s ease;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
