@import "tailwindcss";

:root {
  --custom-white: #efeff2;
  --custom-dark: #202c4b;
  --custom-background: #0f0c1c;
}

html.light {
  background-color: var(--custom-white);
  color: var(--custom-dark);
}

html.dark {
  background-color: var(--custom-background);
  color: var(--custom-white);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
